/* defaults */
html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 15px;
}

.middle{
    padding: 15px;
    border-radius: 0;
}

.bottom{
  margin-bottom: 10px;
  padding: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.logo-img{
    margin: auto;
    display: block;
}

p.copyright{
    text-align: center;
}

/* other styles */

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }
  .bd-mode-toggle {
    z-index: 1500;
  }